body {
  font-family: "Chivo Mono";
  font-size: 20px;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 100vw;
  max-height: 100vh;
  gap: 40px;
  margin: 0 auto;
}

.ascii-frame {
  grid-column: 2;
  grid-row: 2;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  overflow: auto;
  position: relative;
}

.ascii-canvas {
  width: 5000px; 
  height: 3000px;
  position: relative;
}

.ascii-region {
  position: absolute;
}

.ascii-region pre {
  margin: 0;
}

.ascii-region:hover{
    color: white;
    text-shadow: 0 0 5px blue;
    animation: flicker 3s infinite alternate ease-in-out;
}

.overlay {
  position: fixed;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
}


.overlay-right {
      padding: 15px;
    width: 500px;
  top: 50%;
  left: calc(50% + var(--square-size) / 2 + 40px);
  transform: translateY(-50%);
}

.overlay-left {
      padding: 15px;
    width: 500px;
  top: 50%;
  right: calc(50% + var(--square-size) / 2 + 40px);
  transform: translateY(-50%);
}

.overlay-top {
      padding: 15px;
    width: 1400px;
  left: 50%;
  top: calc(50% - var(--square-size) / 2 - 175px);
  transform: translateX(-50%);
}

.overlay-bottom {
      padding: 15px;
    width: 1400px;
  left: 50%;
  top: calc(50% + var(--square-size) / 2 + 40px);
  transform: translateX(-50%);
}


:root {
  --square-size: 400px;
}

/*
.ascii-frame::-webkit-scrollbar {
  display: none;
}
*/

.chivo-mono-monospace {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.almendra-display-regular {
  font-family: "Almendra Display", serif;
  font-weight: 400;
  font-style: normal;
}


/*@keyframes flicker {
  0%{
    text-shadow: 
    0 0 7px blue
  }
  50% {
    text-shadow: 
      0 0 10px blue,
      0 0 45px blue,
      0 0 90px blue,
      0 0 150px blue
  }
}
  */
